.word {
  background: transparent;
  border: 2px dashed var(--gray);
  border-radius: 5px;
  cursor: pointer;
  font-size: 32px;
  outline: none;
  padding: 5px 20px;
  position: relative;
  text-align: center;
}