.taskContent {
  padding: 300px 140px;
  display: flex;
  justify-content: space-around;
  cursor: initial;
}

.mainImg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 540px;
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  
}

.taskList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 15px;
}

.taskWord {
  cursor: grab;
  position: relative;
  transition: background-color ease-in-out .3s;
  background: transparent;
  border: 2px dashed var(--gray);
  border-radius: 5px;
  font-size: 32px;
  outline: none;
  padding: 5px 20px;
  position: relative;
  text-align: center;
}
