.background {
    background-image: url('./svg/background.png');
}

.centerArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.levels {
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 83px;
}

.levels > img {
    padding: 0 25px;
}

.text {
    font-size: 64px;
}
