.taskContent {
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
}

.mainImg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 540px;
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  
}

.taskList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 15px;
}
