@font-face {
  font-family: Chitalka;
  src: local('Chitalka'),
    url('./../assets/fonts/Chitalka-Medium.otf') format('truetype');
  font-weight: normal;
  font-size: 48px;
}

@font-face {
  font-family: Chitalka;
  src: local('Chitalka'),
  url('./../assets/fonts/Chitalka-Bold.otf') format('truetype');
  font-weight: bold;
  font-size: 48px;
}