body {
  font-family: 'Chitalka', sans-serif;
  font-style: normal;
  color: var(--dark-grey);
  background: url('/src/assets/backgrounds/bg-1.jpg');
  font-family: Chitalka;
  font-size: 48px;
  line-height: 60px;
  min-width: 1440px;
}

* {
  box-sizing: border-box;
  font-family: Chitalka, sans-serif;
  margin: 0;
  font-size: inherit;
}

.container {
  max-width: 1416px;
  padding: 0 24px;
  margin: 0 auto;
}

.no-select {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Стандартный синтаксис */
}

