.btn {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.texture {
    mask-image: url('/public/images/Shapes/sound-replay-shape.svg');
    -webkit-mask-image: url('/public/images/Shapes/sound-replay-shape.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 68px 52px;
}
