.loader{
  display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.loader__word{
  font-size: 96px;
  font-weight: 700;
}

.word_start{
  transition: transform 0.5s ease, color 0.5s ease;
  display: inline-block;

}

.word_init{
  transform: rotateZ(0) translate(0px, 0px);
}

.word_first{
  transform: rotate(-5deg) translate(0px, -13px);
  color: var(--alert);
}

.word_second{
  transform: rotate(-2deg) translate(0px, -13px);
  color: var(--orange);
}

.word_third{
  transform: rotate(5deg) translate(0px, -13px);
  color: var(--neon-green);
}