.pointer {
    mask-image: url('/public/images/Shapes/pointer-shape.svg');
    -webkit-mask-image: url('/public/images/Shapes/pointer-shape.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 30px 55px;
}
