.rocket {
    display: inline-block;
    position: relative;
    margin: 20px;
    width: 440px;
    height: 233px;
}

.part {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.contour {
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--light-grey);
    visibility: hidden;
    width: 440px;
    height: 233px;
}

.shape.outlined {
    visibility: hidden;
}

.contour.outlined {
    visibility: visible;
}

.contour.active {
    background-color: var(--success);
}
