.container {
  max-width: 1416px;
  padding: 0 24px;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 240px 0;
  position: relative;
}

.section__text {
  max-width: 45%;
}

.section__text_last {
  margin-bottom: 42px;
}

.section_rightSide {
  align-items: flex-end;
}

.section__text_3 {
  max-width: 60%;
  margin-bottom: 42px;
}

.section__img {
  position: absolute;
}

.section__img_glasses {
  right: 140px;
  bottom: 400px;
}

.section__img_hands {
  top: 0;
  left: 0;
}

.section__img_clock {
  right: 0;
  top: 100px;
}

.section__img_heart {
  width: 420px;
  top: 144px;
  left: 0px;
}