a{
  display: block;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  position: relative;
}

.section__text {
  max-width: 45%;
}

.section__text_last {
  margin-bottom: 42px;
}

.text_alignCenter {
  text-align: center;
}

.section_rightSide {
  align-items: flex-end;
}

.section_centre {
  align-items: center;
}

.section__text_3 {
  max-width: 60%;
  margin-bottom: 42px;
}

.section__img {
  position: absolute;
}

.section__img_glasses {
  right: 140px;
  bottom: 400px;
}

.section__img_hands {
  top: -98px;
  left: 0;
}

.section__img_clock {
  right: 0;
  top: 100px;
}

.section__img_heart {
  width: 420px;
  top: 60px;
  left: 0px;
}

.section__buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.btn {
  text-decoration: none;
  font-family: Chitalka, sans-serif;
  font-size: 48px;
  color: var(--dark-grey);
  background-color: transparent;
  border: 1px dashed var(--dark-grey);
  padding: 15px;

  cursor: pointer;
  min-width: 194px;
  height: 78px;
}
