.btn {
    font-size: 48px;
    color: var(--dark-grey);
    background-color: transparent;
    border: none;
    padding: 0;

    cursor: pointer;
    width: 194px;
    height: 78px;
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}
