.loginPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('/src/assets/backgrounds/bg-1.png');
  padding: 80px 75px;
}

.loginData {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  justify-content: space-between;
}

.loginCard__header {
  font-size: 64px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 124px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loginCard__confirm{
  display: flex;
  justify-content: center;
}

.label {
  font-size: 48px;
  margin-bottom: 24px;
  max-width: 850px;
}

.confirmLabel {
  font-size: 64px;
  margin-bottom: 64px;
  text-align: center;
}

.email {
  font-weight: bold;
}

.input {
  border-style: none;
  border-radius: 10px;
  font-size: 48px;
  width: 100%;
  outline: none;
  padding: 13px 0;
  text-align: center;
  margin-bottom: 56px;
}

.confirmInput {
  border-style: none;
  border-radius: 10px;
  font-size: 48px;
  width: 371px;
  outline: none;
  padding: 13px 0;
  text-align: center;
}

.waitLine {
  font-size: 24px;
}

.button {
  min-width: 130px;
  padding: 10px 15px;
}

.button:hover {
  -webkit-filter: brightness(105%);
  filter: brightness(105%);
}

.button:active {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.loginCard__footer {
  font-size: 20px;
  line-height: 32px;
  width: 540px;
  text-align: center;
}

a {
  color: inherit;
}
