:root {
  --gray: #6b6c6f;
  --alert: #e95b51;
  --success: #6ab37a;
  --purple: #a482bb;
  --green: #90bfbe;
  --blue: #a5bed7;
}

* {
  box-sizing: border-box;
  font-family: Chitalka, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  font-size: inherit;
}

#root {
  overflow: hidden;
  height: 100vh;
}

*:not(svg) {
  color: var(--gray);
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #ededed;
}

::-webkit-scrollbar-thumb {
  background: #d3bdb5;
  border-radius: 4px;
}

body {
  background: #e4d7d2;
}
