.window{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 0;
  height: 100vh;
}

.footer{
  display: flex;
}

.tempGroup{
  display: flex;
  align-items: center;
}

.tempGroup__index{
  margin-right: 15px;
}

.footer__pb{
  margin: 0 auto;
}

.taskContent{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
