.taskWord {
  cursor: grab;
  position: relative;
  transition: background-color ease-in-out .3s;
  background: transparent;
  border: 2px dashed var(--gray);
  border-radius: 5px;
  font-size: 32px;
  outline: none;
  padding: 5px 20px;
  position: relative;
  text-align: center;
  user-select: none;
}

.taskWord__wrong{
  animation: wrong 1s linear;
}

@keyframes wrong {
  from, to {
    rotate: z 0deg;
  }
  20%, 60%  {
    rotate: z 10deg;
  }
  40%, 80% {
    rotate: z -10deg;
  }
}