.dot--current {
    margin: 0 -4px;
}

.dot--score {
    margin-left: -2px;
}

.dot--score-correct {
    z-index: 10;
}

.dot{
    vertical-align: top;
}

.dotElement{
    height: 14px;
    width: 14px;
}